<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h3>Game Over!</h3>
        <h2 v-if="winner === 'Player'">You Win!</h2>
        <h2 v-else-if="winner === 'Monster'">You Lost!</h2>
        <h2 v-else="winner === 'draw'">It's Draw!</h2>
        <button @click="restartGame">Restart Game</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="useSpecialAttack" @click="specialAttackMonster">
          SPECIAL ATTACK
        </button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in logMessages">
            <span
              :class="{ 'log--player':log.actionKey === 'Player','log--monster':log.actionKey ==='Monster'}"
            >
              {{ log.actionKey }}
            </span>
            <span v-if="log.actionType==='heal'">
              Heals For Himself
              <span class="log--heal"> {{ log.actionValue }} </span>
            </span>
            <span v-else>
              attacks and deals
              <span class="log--damage"> {{ log.actionValue }} </span>
            </span>
          </li>
        </ul>
      </section>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
